.navbar-items {
  font-weight: 700;
  font-size: 18px;
}
.navbar-items a:not(:last-child) {
  margin-right: 24px;
}
.navbar .btn {
  padding: 12px 29px 13px;
}
.navbar svg {
  fill: #E7DBED;
}
.navbar-items a::before,
.navbar-items a::after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #AD89B1;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
.navbar-items a::before {
  top: 0px;
  transform: translateY(10px);
}
.navbar-items a::after {
  bottom: 0px;
  transform: translateY(-10px);
}
.navbar-items a:hover::before,
.navbar-items a:hover::after {
  opacity: 1;
  transform: translateY(0px);
}